* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    min-height: 300px;
}

body{
    display:flex;
    flex-direction: column;
}

.row{
    margin: 0 auto;
    max-width: 900px;
    display: flex;
}

.row.yellow {
    flex-direction: row;
    justify-content: space-between;
    background-color: #D3A01F ;    
}

.border {
    border: 2px dashed black;
}

.container {
    padding: 50px 0;
}

.container.bg-nav{
    padding: 20px;
    background-color: #A3CCD9;
}

.col-3 {
    flex-basis: calc(100% /4);
    padding: 5px;
}

.col-6 {
    flex-basis: calc(100% /2);
    padding: 5px;
}

.bg-blue{
    background-color: #00008B;
}

.row.bg-pink {
    max-width: 700px;
    background-color:#EE82EE;
}

.col-100 {
    flex-basis: 100%;    
}

.col-5{
    flex-basis: calc((100% /12)*5);
    background-color: #FFC0CB;
}

.col-7 {
    flex-basis: calc((100% /12)*7);
    background-color: #1E90FF;
}

.bg-white{
    background-color: white;
}